body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('Hogwarts_phone.jpeg') no-repeat center center;
    background-size: cover;
    color: #000; /* Testo nero */
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altezza piena della finestra */
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.7); /* Sfondo bianco semitrasparente */
    color: #000; /* Testo nero */
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 80%;
}

p {
    font-size: 1.2em;
    color: #000; /* Testo nero */
    padding: 10px;
    margin: 10px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5); /* Ombra chiara per far risaltare il testo */
    width: 80%;
}

.button-container {
    position: absolute;
    bottom: 20px; /* Distanza dal fondo della pagina */
    display: flex;
    gap: 20px; /* Spaziatura tra i pulsanti */
}

/* Stile per tutti i pulsanti, inclusi quelli specifici */
button {
    background-color: #4CAF50; /* Sfondo verde */
    color: white; /* Testo bianco */
    border: none;
    padding: 15px 30px; /* Dimensione del pulsante */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em; /* Dimensione del testo */
    margin: 20px auto; /* Centratura del pulsante */
    cursor: pointer;
    border-radius: 5px; /* Angoli arrotondati */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transizione per effetto hover */
}

/* Effetto hover per il pulsante */
button:hover {
    background-color: #45a049; /* Colore verde più scuro al passaggio del mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombra per un effetto di profondità */
}

#home-button, #wizarding-world-button {
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-button {
    background-color: #007bff; /* Sfondo azzurro */
    color: white; /* Testo bianco */
    font-size: 1.5em;
    width: 60px; /* Larghezza del pulsante */
    height: 60px; /* Altezza del pulsante */
}

#home-button:hover {
    background-color: #0056b3;
}

#wizarding-world-button {
    background-color: #333; /* Sfondo scuro */
    color: gold; /* Testo dorato */
    font-size: 2em; /* Dimensione del testo */
    width: 60px; /* Larghezza del pulsante */
    height: 60px; /* Altezza del pulsante */
}

#wizarding-world-button:hover {
    background-color: #444;
}

#submit-button {
    background-color: #4CAF50; /* Sfondo verde */
    color: white; /* Testo bianco */
    border: none;
    padding: 15px 30px; /* Dimensione del pulsante */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em; /* Dimensione del testo */
    margin: 20px auto; /* Centratura del pulsante */
    cursor: pointer;
    border-radius: 5px; /* Angoli arrotondati */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transizione per effetto hover */
}

#submit-button:hover {
    background-color: #45a049; /* Colore verde più scuro al passaggio del mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombra per un effetto di profondità */
}

