body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    //background-image: url('https://raw.githubusercontent.com/Potasovvi/AR_quiz-V1/main/Andrea e Roberta Anime.jpg'); /* Percorso corretto dell'immagine */
    //background-size: contain; /* L'immagine si adatta all'altezza e alla larghezza */
    //background-attachment: scroll; /* L'immagine scorre insieme alla pagina */
    //background-position: center top; /* L'immagine parte dall'alto */
    //background-repeat: no-repeat; /* L'immagine non si ripete */
    height: 200vh; /* Imposta un'altezza doppia rispetto alla finestra per creare lo scroll */
    color: #000; /* Testo nero */
}

.form-container {
    background-color: rgba(255, 255, 255, 0.85); /* Sfondo bianco semi-trasparente per migliorare la leggibilità */
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

label {
    color: #000;
}

input[type="text"] {
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid #000; /* Bordi neri */
    border-radius: 5px;
    box-sizing: border-box;
    color: #000;
}

#nome, #cognome {
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid #000; /* Bordi neri */
    border-radius: 5px;
    box-sizing: border-box;
    color: #000;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.image-below-button {
    margin-top: 20px;
    text-align: center;
}

.image-below-button img {
    max-width: 100%; /* L'immagine si adatta allo schermo */
    height: auto;
    border-radius: 10px; /* Aggiungi bordi arrotondati se desideri */
}
